
    <div>
        {{#each cart.products}}
<div class="divMayor">
        <div class="divCart">  
            {{!-- <img class="imgCart" src={item.img} alt=""></img> --}}
                <div class="divCart2">
                    <p>{{this.product.title}}</p>
                    <p>Cantidad: {{this.quantity}}</p>
                    <p>$ {{this.product.price}} c/u </p>                   <p><b>Total: $ {{this.quantity}}*{{this.product.price}}</b></p>
                    <button class="buttonDelete">Eliminar</button>
                </div>                
        </div>
</div>
{{/each}}
    </div>

<div>
            <div class="totaldiv"><p className="total" >Total: $ {total()}</p></div>
            <div class="botones">
            <button class="delete">Vaciar carrito</button>
            <button class="create">Checkout Now</button>
            </div>
            </div>