<div>
    
    {{#each products}}

    <div class="container">
        <div class="card">
            <img src="" alt=""></img> 
            <h4>{{this.title}}</h4>  
            <p>${{this.price}}</p> 
            <button class="botonAgregar"><Link>Details</Link></button>
        </div>
    </div>
    
    {{/each}}
</div>


<div >
    {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}"><button
        >Previous</button></a>
    {{/if}}

    <p>{{page}}</p>

    {{#if hasNextPage}}
        <a href="/?page={{nextPage}}"><button>Next</button></a>
    {{/if}}
</div>

















  {{!-- <div id="app">
    <h2>Products:</h2>
        <table>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>Code</th>
                <th>Stock</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
            </tr>
            {{/each}}
        </table>
    </div> --}}